.nav-pad {
    padding-top: 0;
    padding-bottom: 0;
}

.lat-button {
    color:white;
    text-decoration: none;
    background-color: lightseagreen;
    margin-left: 5%;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    font-family: Times;
    font-size: 20px;
}

.lat-button:hover {
    text-decoration: none;
    color:white;
}

.navbar-toggler-icon li {
    list-style-type: none;
}

.main-menu:hover .sub-menu{
    display: block;
}

.dropdown-toggle-icon:hover .sub-menu{
    display: block;
}

.menu-loc {
    position: relative;
    right: -85%;
}

.meun-loc li {
    padding: 10px;
}

.body-bg {
    background-color: lightgrey;
    height: 100%;
}

.box-container {
    padding-right: 50px;
    padding-left: 50px;
}

.box-design  {
    margin-top: 50px;
    background-color: white;
    color:black;
    padding: 50px;
}

.box-design h1 {
    color: lightseagreen;
    font-size: 300%;
    font-family: Times;
}

.trimmed-foot {
    background-color: grey;
    border-top: 6px solid lightseagreen;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.foot-text {
    text-align: center;
    color: white;
    padding: 10px;
}

.table-custom-border tbody td {
    border: none;
    border-bottom: 1px solid lightgrey;
}

.table-custom-border tbody th {
    border: none;
    border-bottom: 1px solid lightgrey;
}

.table-custom-border thead th {
    border: none;
    border-bottom: 2px solid lightgrey;
}

.image-grid img {
    height: 100%;
    width: 100%;
}