.nav-pad {
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
}


@media (max-width:575px) {
    .nav-pad {
        background-color: lightseagreen;
    }

    .no-border {
        border: none;
        background-color: lightseagreen;
    }
}

@media (min-width: 544px) {  
    .box-desgin h1 {
        font-size:22px;
    } 
}
   
@media (min-width: 768px) {  
    .box-design h1 {
        font-size:32px;
    } 
}

@media (min-width: 1050px) { 
    .box-design h1 {
        font-size:40px;
    }
}

@media (min-width: 1200px) {  
    .box-design h1 {
        font-size:48px;
    }
}


.lat-button {
    color:white;
    text-decoration: none;
    background-color: lightseagreen;
    margin-left: 5%;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    font-family: Times;
    font-size: 20px;
}

.lat-button:hover {
    text-decoration: none;
    color:white;
}

.navbar-toggler-icon li {
    list-style-type: none;
}

.main-menu:hover .sub-menu{
    display: block;
}

.navbar-color a {
    color: black;
}

.no-border {
    border: none;
}

.dropdown-toggle-icon:hover .sub-menu{
    display: block;
}

.body-bg {
    background-color: lightgrey;
    height: 100%;
}

@media (min-width:768px) {
    .box-container {
        padding-right: 50px;
        padding-left: 50px;
    }
}

.box-design  {
    margin-top: 50px;
    background-color: white;
    color:black;
    padding: 50px;
}

.clearfix:after  {
    display: block;
    content: "";
    clear: both;
}


.box-design h1 {
    color: lightseagreen;
    font-family: Times;
}

.box-design h2 {
    color: lightseagreen;
    font-family: Times;
    text-align: center;
}


.box-design img {
    width: 100%;
    height: auto;
}

#temp-image {
    float: left;
}

@media (max-width:992px) {
    #temp-image {
        width: 240px;
        height: auto;
    }
}

.image-grid-lg {
    visibility: visible;
    display: block;
}

.image-grid-sm {
    visibility: hidden;
    display: none;
}

@media (max-width:768px) {
    .image-grid-lg {
        visibility: hidden;
        display: none;
    }

    .image-grid-sm {
        visibility: visible;
        display: block;
    }
}

.img-display {
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.img-display img {
    flex-shrink: 0;
    width: 100%;
    height: 100%

}

.trimmed-foot {
    background-color: grey;
    border-top: 6px solid lightseagreen;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.foot-text {
    text-align: center;
    color: white;
    padding: 10px;
}

.table-custom-border tbody td {
    border: none;
    border-bottom: 1px solid lightgrey;
}

.table-custom-border tbody th {
    border: none;
    border-bottom: 1px solid lightgrey;
}

.table-custom-border thead th {
    border: none;
    border-bottom: 2px solid lightgrey;
}

.selection-border {
    border: 2px solid lightseagreen;

    